<mat-sidenav-container >
  <mat-sidenav mode="side" #sidenav (click)="sidenav.close()">Sidenav content</mat-sidenav>

<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.open()" class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button [matMenuTriggerFor]="dropdown">Screens</a>
  <a mat-button >Next</a>
  <mat-menu #dropdown>
    <button mat-menu-item routerLink="/">Home</button>
    <button mat-menu-item routerLink="/customers">Customer</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
</mat-sidenav-container>
